.zoo-map {
  text-align: center;

  .map-image {
    width: 80%;   // Exemple de taille responsive
    max-width: 600px; // Largeur maximale
    height: auto; // Conserver les proportions de l'image
    border-radius: 8px;
    margin-top: 20px;
  }
}