.home {
  background: linear-gradient(to right ,#0ca6b0,#ea8306 );
  text-align: center;
  padding: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Police amusante pour les enfants */

  
  h2 {
    font-size: 2.5rem;
    color: white;
    
  }

  p {
    font-size: 1.2rem;
    color: white;
  }

  .carousel {
    margin-top: 40px;

    .slick-slide img {
      max-width: 55%; 
      height: auto;
      margin: 0 auto; 
      border-radius: 10px;
    }
    .slick-prev, .slick-next {
      width: 40%;
      height: 50px;
      z-index: 1;
    }
    
    .slick-prev:before, .slick-next:before {
      font-size: 50px;
      color: white;
    }
  }

  .attractions {
    margin-top: 40px;
    
    h3 {
      font-size: 2rem;
      margin-bottom: 20px;
      color:white;
    }
    
    .attraction-list {
      display: flex;
      justify-content: center;
      gap: 20px;
      
      .attraction-item {
        max-width: 200px;
        text-align: center;
        
        img {
          max-width: 100%;
          border-radius: 10px;
        }
        
        p {
          margin-top: 10px;
          color: white;
        }
      }
    }
  }
  
  .info {
    margin-top: 40px;
    
    h3 {
      font-size: 2rem;
      margin-bottom: 20px;
      color: white;
    }
    
    p {
      font-size: 1.2rem;
      color: white;
    }
  }
}

  
.education {
  margin-top: 40px;
  
  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    .fact-item {
      max-width: 300px;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
      h4 {
        font-size: 1.5rem;
        color: #4CAF50;
      }
      
      p {
        margin-top: 10px;
        color: #555;
      }
    }
  }
  
  .resources {
    margin-top: 40px;
    
    h4 {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: white;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
      
      li {
        margin-bottom: 10px;
        
        a {
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.videos {
  margin-top: 40px;
  margin-bottom: 50px;


  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }

  .video-list {
    display: flex;
    justify-content: center;
    gap: 20px;

    .video-item {
      max-width: 600px;
      

      p {
        margin-top: 10px;
        color: white;
      }
    }
  }
}

.quiz {
  margin-top: 40px;

  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }

  .quiz-question {
    h4 {
      font-size: 1.5rem;
      color: #4CAF50;
    }

    button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45A049;
      }
    }
  }
}

