header {
  background-color: #4CAF50; /* Couleur verte pour un thème nature */
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  h1 {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Police amusante pour les enfants */
  }
}

  