.navbar {
    background-color: #ea8306;
    padding: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    ul {
      list-style-type: none;
      margin: 0px 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    li {
      margin: 0 55px;
      font-size: 20px;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  