.game-selector {
    text-align: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin: 20px auto;
  
    h1 {
      font-family: 'Comic Sans MS', cursive, sans-serif;
      color: #333;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  
    .games-container {
      display: flex;
      justify-content: space-between;
    }
  
    .game-column {
      width: 48%;
      background: #ffffff;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
  
      h2 {
        font-family: 'Comic Sans MS', cursive, sans-serif;
        color: #333;
        margin-bottom: 20px;
        font-size: 1.5rem;
      }
    }
  }
  